<h2>{{title()}}</h2>
<table>
    <tbody>
        @for (videoGame of items(); track videoGame.label) {
            <tr>
                <td>
                    {{videoGame.label}}
                </td>
                <td>
                    {{videoGame.releaseDate}}
                </td>
                <td>
                    <button (click)="goToEdit(videoGame.id)">Edition</button>
                </td>
            </tr>
        }
        @empty {
            <td>Aucune ligne</td>
        }
    </tbody>
</table>

<button (click)="addVideoGame()">Nouveau jeu-vidéo</button>