<button
  mat-icon-button
  [matMenuTriggerFor]="menu"
  aria-label="Example icon-button with a menu"
>
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="goToUrl('')">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-menu-item (click)="goToUrl('video-games')">
    <mat-icon>sports_esports</mat-icon>
    <span>Mes jeux vidéos</span>
  </button>
  <button mat-menu-item (click)="goToUrl('video-games/create')">
    <mat-icon>sports_esports</mat-icon>
    <span>Nouveau jeu vidéo</span>
  </button>
  <button mat-menu-item (click)="goToUrl('game-consoles')">
    <mat-icon>sports_esports</mat-icon>
    <span>Mes consoles</span>
  </button>
  <button mat-menu-item (click)="goToUrl('game-consoles/create')">
    <mat-icon>sports_esports</mat-icon>
    <span>Nouvelle console de jeux</span>
  </button>
</mat-menu>
